.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    width: 50%;
    position: relative;
    background: #ba89b6;
    color: #000;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

    .ribbon:before, .ribbon:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1em;
        border: 1.5em solid #986794;
        z-index: -1;
    }

    .ribbon:before {
        left: -2em;
        border-right-width: 1.5em;
        border-left-color: transparent;
    }

    .ribbon:after {
        right: -2em;
        border-left-width: 1.5em;
        border-right-color: transparent;
    }

    .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: #804f7c transparent transparent transparent;
        bottom: -1em;
    }

    .ribbon .ribbon-content:before {
        left: 0;
        border-width: 1em 0 0 1em;
    }

    .ribbon .ribbon-content:after {
        right: 0;
        border-width: 1em 1em 0 0;
    }



.wrapper {
    width: 40%;
    margin: 40px auto;
}

div.gallery {
    margin-top: 30px;
}

    div.gallery ul {
        list-style-type: none;
        margin-left: 35px;
    }

        /* animation */
        div.gallery ul li, div.gallery li img {
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        div.gallery ul li {
            position: relative;
            float: left;
            width: 150px;
            height: 200px;
            margin: 5px;
            padding: 5px;
            z-index: 0;
        }

            /* Make sure z-index is higher on hover */
            /* Ensure that hover image overlapped the others */
            div.gallery ul li:hover {
                z-index: 5;
            }

            /* Image is position nicely under li */
            div.gallery ul li img {
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid #dddddd;
                padding: 5px;
                width: 150px;
                height: 200px;
                background: #f0f0f0;
            }

                div.gallery ul li img:hover {
                    width: 200px;
                    height: 250px;
                    margin-top: -130px;
                    margin-left: -130px;
                    top: 65%;
                    left: 65%;
                }

p.attribution {
    font-family: 'Consolas';
    color: #000;
    clear: both;
    text-align: center;
    line-height: 25px;
    padding-top: 30px;
}

    p.attribution a {
        color: #4c8d7c;
    }

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
    .wrapper {
        width: 500px;
    }
}

@media only screen and (max-width: 498px) {
    .wrapper {
        width: 300px;
    }

    div.gallery ul {
        list-style-type: none;
        margin: 0;
    }
}
